#root {
  text-align: center;
}

form input {
  color: #000;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

input {
  border-radius: 2px;
  padding: 5px;
}